@media screen and (max-width: 570px) {
    .container {
        max-width: 570px;
        padding: 5px 10px ;
    }
    .header {
        max-width: 570px;
        &__official {
            display: none;
        }
        .header__logo {
            width: 50%;
        }
        .header__phone {
            font-size: 14px;
        }
        .button {
            width: 127px;
            font-size: 11px;
        }
        
    }
    .promo {
        min-height: 305px;
        background: url(../../img/main.jpg) 35% center/cover no-repeat;
        .promo__wrapper {
            align-items: center;
        }
        .promo__header {
            text-align: center;
            font-size: 35px;  
        }
        .promo__subheader {
            text-align: center;
            font-size: 25px; 
            margin-top: 10px;
        }
        .promo__icons {
            width: 100%;
            margin-top: 80px;
        }
        .promo__icon {
            // width: 100%;
            font-size: 10px;
            // img {
            //     margin-bottom: 30px;
            // }

        }
        .button_main{
            width: 192px;
            height: 38px;
            font-size: 10px;

        }
        .promo__link {
            font-size: 11px;
        }
        


    }
    .advantage {
        padding: 40px 0 20px 0;
        .title {
            font-size: 24px;
            
        }
        &__icons {
            flex-direction: column;
            align-items: center;
            width: 100%;
            margin-top: -10px;
        }
        &__icon {
            margin-top: 40px;
            img {
                margin-top: 40px;
            }
            width: 100%;
        }
    }
    .consultation {
        min-height: 400px;
        padding: 40px 0;
        .title {
            font-size: 20px;
            text-align: center;
        }
        &__descr {
            font-size: 18px;
            text-align: center;
            margin-top: 70px;

        }
    }
    .feed-form {
        margin: 36px auto;
    }
    .carousel {
        &__inner {
            width: 100%; 
            img {
                width: 100%;
            }
        }
        .slick-dots {
            margin-top: 30px;
            list-style-type: none;
            display: flex;
            justify-content: center;
            align-items: center;
            margin-left: -25px ;
            
            li {
                border: 2px black solid;
                width: 30px;
                height: 1px;
                margin-right: 20px;
                &:hover {
                box-shadow: 3px 3px 20px $main-color;
            }
            }
            button {
                display: none;  
            }
        }
    }
    .catalog {
        padding-bottom:20px;
        .title {
            font-size: 18px;
        }
    &__tabs {
        margin-top: 40px;
    
    }
    &__tab {
        font-size: 10px;
        height: 30px;
        line-height: 28px;
        }
    }
    &__content {
        max-width:  570px;

    }
    .catalog-item {
        margin: 0 auto 20px ;
    }
    .container {
        max-width: 570px;
    }
    .feed {
        padding: 0 5px;
        &__item {
            flex-direction: column;
            margin-top: 40px;
            margin-bottom: 20px;
            &:nth-child(2) {
                margin-top: 30px;

            }
        }
        &__img {
            margin: 0 auto;
        }
        &__text {
            margin-top: 25px;
            text-align: center;
            margin-left: 0px;
            padding-right: 0px;
        
        }
    }
    .footer {
        max-width: 570px;
        &__info {
            width: 100%;
            padding: 20px 0px 0px 0px ;
        }
    }
    .overlay {
        max-width: 570px;
    }
    .modal {
        width: 90%;
        padding: 30px 10px 10px 10px;
        border-radius: 20px;
        &__close {
            right: -10px;
            top: -35px;
        }
    }

  
}