.advantage {
    padding: 70px 0 60px 0;
    background-color: rgb(247, 245, 242);
    &__icons {
        
        margin-top: 65px;
        width: 928px;
        display: flex;
        justify-content: space-between;
        align-items: center;
    }
    &__icon {
        
        width: 240px;
        img {
            display: block;
            margin: 0 auto;
       }
       &_animated {
        animation-name: heartbeat;
        animation-duration: 1s;
        animation-timing-function: ease;
        animation-iteration-count: infinite;
        &:hover {
            animation-play-state: paused;
        }
       }
       &_mt20 {
           margin-top: 20px;
       }
       
     
    }
    &__text {
        margin-top: 38px;
        text-align: center;
        color: #0d0d0d;
        font-size: 18px;
        font-weight: 700;
    }
    &__descr {
        margin-top: 27px;
        text-align: center;
        color: #0d0d0d;
        font-size: 14px;
        font-weight: 400;
        line-height: 24px;
        a {
            color: #ff0000;
            text-decoration: underline;
        }
    }
}